body{
font-family: arial, sans-serif;
color: #222;
font-weight: normal;
margin: 0;
padding: 0;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
}
#form{
font-size: 16px;
}
h1{
font-size: 20px;
font-weight: bold;
margin: 10px 0px 20px 0px;
}
.preview{
display: inline-block;
font-size: 13px;
height: 68px;
line-height: 15px;
overflow-y: visible;
position: relative;
text-align: -webkit-auto;
visibility: visible;
margin-top: 40px;
width: 512px;
}
.desTitle, .desPdfTitle, .desVideoTitle ,.desVideoTitle, .desOtherTitle{
color: #12C;
font-size: 16px;
text-decoration: underline;
height: 19px;
line-height: 19px;
overflow-x: hidden;
overflow-y: hidden;
text-align: -webkit-auto;
text-overflow: ellipsis;
visibility: visible;
white-space: nowrap;
width: 512px;
}
.desUrl{
color: #093;
font-size: 13px;
font-style: normal;
height: 15px;
line-height: 15px;
margin-bottom: 1px;
overflow-y: visible;
text-align: -webkit-auto;
visibility: visible;
width: 181px;
}
.desDesc{
font-size: 13px;
height: auto;
line-height: 16px;
overflow-y: visible;
text-align: -webkit-auto;
visibility: visible;
width: auto;
}