html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video { 
	margin: 0; 
	padding: 0;
	border: 0;
	font-size: 100%; 
	/*font: inherit; */
	vertical-align: baseline; } 
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header,
hgroup, menu, nav, section { 
	display: block; 
} 

ol, ul {
	list-style: none; 
} 

blockquote, q { 
	quotes: none; 
} 

blockquote:before, 
blockquote:after,
q:before, 
q:after { 
	content: ''; 
	content: none; 
} 

body {
	
	background-color:#f3f3f3;
	font-family: Century Gothic, sans-serif;
	font-size:12px;
	line-height: 1; 
	
}

#badBrowser {
	
	font-family: Century Gothic, sans-serif;
	color: red;
	font-size:15px;
	line-height: 1; 
	margin: 20px 0px 0px 20px;
	
}

#wrapper {
	width:700px;
	margin-left: auto;
	margin-right: auto;
	margin-top:20px;
	background-color:#fafafb;
	padding:10px;
	height:100%;
}

h1 {
	font-size:25px;
	padding-bottom:20px;
	
}

.version {
	font-size:14px;	
}

#form{
	margin: 10px 0px 30px 0px;
}

.radioButtons{
	margin-top: 20px;
}

.preview {
	background-color:#ffffff;
	margin: 10px;
	padding: 10px;
	width:600px;
	margin-left: auto;
	margin-right: auto;
	border-style:solid;
	border-width: 2px;
	border-color: #f3f3f3;
	
}

.pageTitle {
	font-family: arial,sans-serif; 
	color: #1122CC;
	font-size: medium; 
	line-height: 1.2; 
	text-decoration:underline; 
} 
	
.urlDesc { 
	max-width: 42em;
	color: #009933; 
	font-style: normal; 
	font-size: small;
	font-family: arial,sans-serif; 
	text-decoration:none; 
}  
     
.metaDesc { 
	max-width: 42em;
	font-family: arial,sans-serif; 
	color: #222222;
    font-size: small; 
	line-height: 1.24; 
	text-decoration:none; 
}

/*.center_col { width: 528px; padding: 0 8px; margin-left:
      132px; margin-right: 264px; } 
	  
.floatRight {
	 float:right;
	margin-right:200px;
	margin-top:3px;
}*/